@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .safe-area-top {
    padding-top: env(safe-area-inset-top, 0);
  }
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0);
  }
}
